* {
  box-sizing: border-box;
}

section {
  margin: 4rem;
}

body {
  background-color: white;
  margin-top: 40px;
  min-width: 450px;
}

.grid-section {
  position: relative;
  display: table;
  width: 400px;
  height: 400px;
  margin: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  position: absolute;
  cursor: pointer;
}

li button {
  border-radius: 10px;
  color: white;
  background-color: #1b283b;
  font-size: 16px;
  padding: 0;
  border: none;
  position: relative;
}

li button::before {
  content: '';
  position: absolute;
  width: 0; 
  height: 0; 
}

/** START Up Triangle START */
.row-1 li button::before {
  top: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #1b283b;
}

.row-1 li:nth-child(1) button::before {
  left: 15px;
  transform: translateY(-100%);
}

.row-1 li:nth-child(2) button::before {
  left: 50%;
  transform: translate(-50%, -100%);
}

.row-1 li:nth-child(3) button::before {
  right: 15px;
  transform: translateY(-100%);
}
/** END Up Triangle END */

/** START Left Triangle START */
.row-2 li:nth-child(1) button::before,
.row-3 li:nth-child(1) button::before,
.row-4 li:nth-child(1) button::before {
  left: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid #1b283b;
}

.row-2 li:nth-child(1) button::before {
  top: 15px;
  transform: translateX(-100%);
}

.row-3 li:nth-child(1) button::before {
  top: 50%;
  transform: translate(-100%, -50%);
}

.row-4 li:nth-child(1) button::before {
  bottom: 15px;
  transform: translateX(-100%);
}
/** END Left Triangle END */

/** START Right Triangle START */
.row-2 li:nth-child(3) button::before,
.row-3 li:nth-child(3) button::before,
.row-4 li:nth-child(3) button::before {
  right: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #1b283b;
}

.row-2 li:nth-child(3) button::before {
  top: 15px;
  transform: translateX(100%);
}

.row-3 li:nth-child(3) button::before {
  top: 50%;
  transform: translate(100%, -50%);
}

.row-4 li:nth-child(3) button::before {
  bottom: 15px;
  transform: translateX(100%);
}
/** END Right Triangle END */

/** START Down Triangle START */
.row-5 li button::before {
  bottom: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #1b283b;
}

.row-5 li:nth-child(1) button::before {
  left: 15px;
  transform: translateY(100%);
}

.row-5 li:nth-child(2) button::before {
  left: 50%;
  transform: translate(-50%, 100%);
}

.row-5 li:nth-child(3) button::before {
  right: 15px;
  transform: translateY(100%);
}
/** END Down Triangle END */

.row-1 li button,
.row-5 li button {
  height: 22px;
  width: 100px;
}

.row-2 li button,
.row-3 li button,
.row-4 li button {
  height: 100px;
  width: 22px;
}

.row-1,
.row-2,
.row-3 {
  display: block;
}


/** FIRST ROW */
.row-1 li:first-child {
  bottom: 100%;
  right: calc(100% - 110px);
}

.row-1 li:nth-child(2) {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.row-1 li:last-child {
  bottom: 100%;
  left: calc(100% - 110px);
}


/** SECOND ROW */
.row-2 li:first-child {
  bottom: calc(100% - 110px);
  right: 100%;
}

.row-2 li:last-child {
  bottom: calc(100% - 110px);
  left: 100%;
}


/** THIRD ROW */
.row-3 li:first-child {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
}

.row-3 li:last-child {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}


/** FOURTH ROW */
.row-4 li:first-child {
  top: calc(100% - 110px);
  right: 100%;
}

.row-4 li:last-child {
  top: calc(100% - 110px);
  left: 100%;
}


/** FIFTH ROW */
.row-5 li:first-child {
  top: 100%;
  right: calc(100% - 110px);
}

.row-5 li:nth-child(2) {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.row-5 li:last-child {
  top: 100%;
  left: calc(100% - 110px);
}

/** Position Font Color */
#bubble-2 span {
  color: #2D1E2F;
}

#bubble-3 span {
  color: #565676;
}

#bubble-4 span {
  color: #3d3286;
}

#bubble-5 span {
  color: #fff;
}

#bubble-6 span {
  color: #fff;
}

.header {
  margin: 0 auto 50px;
  width: 450px;
  display: table;
}

h1 { margin: 0 }

h2,
h3 {
  display: inline-block;
}

h3 {
  margin-left: 10px;
  font-weight: 100;
}

hr {
  margin: 80px 0 40px;
  border: none;
  height: 3px;
  background-color: black;
}