.ezabble,
.ezabble *,
.ezabble *::before,
.ezabble *::after {
  box-sizing: border-box;
}

.ezabble-event > div * {
  pointer-events: none;
}

.ezabble {
  position: relative;
  display: table;
}

.ezabble-wrapper {
  transition: opacity 0.5s ease;
}

.ezabble-wrapper:hover {
  opacity: 1;
  pointer-events: initial;
}

.ezabble-wrapper {
  position: absolute;
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  box-sizing: border-box;
}

.show-ezabble {
  opacity: 1;
}

.pointer-ezabble {
  pointer-events: initial;
}

.ezabble-wrapper::before,
.ezabble-wrapper::after {
  content: '';
  position: absolute;
  height: 14px;
  width: 14px;
  z-index: 1;
  border-style: solid;
}

.ezabble-wrapper::before {
  z-index: -1;
  background-color: transparent;
}

.ezabble-wrapper::after {
  z-index: 1;
}

.ezabble-container {
  position: relative;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  z-index: 2;
  padding: 12px;
  text-align: left;
}

.ezabble-content {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5em;
}

/** Position 1, Position 2, Position 3 */
.ezabble-pos-1,
.ezabble-pos-2,
.ezabble-pos-3 {
  top: calc(100% + 16px);
}

.ezabble-pos-1::before,
.ezabble-pos-2::before,
.ezabble-pos-3::before,
.ezabble-pos-1::after,
.ezabble-pos-2::after,
.ezabble-pos-3::after {
  bottom: calc(100% - 8px);
  border-top-width: 2px;
  border-left-width: 2px;
}

/** Position 1 */
.ezabble-pos-1 {
  left: 0;
}

.ezabble-pos-1::before,
.ezabble-pos-1::after {
  left: 16px;
  transform: rotate(45deg);
}

/** Position 2 */
.ezabble-pos-2 {
  left: 50%;
  transform: translateX(-50%);
}

.ezabble-pos-2::before,
.ezabble-pos-2::after {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/** Position 3 */
.ezabble-pos-3 {
  right: 0;
}

.ezabble-pos-3::before,
.ezabble-pos-3::after {
  right: 16px;
  transform: rotate(45deg);
}

/** Position 4, Position 5, Position 6 */
.ezabble-pos-4,
.ezabble-pos-5,
.ezabble-pos-6 {
  right: calc(100% + 16px);
}

.ezabble-pos-4::before,
.ezabble-pos-5::before,
.ezabble-pos-6::before,
.ezabble-pos-4::after,
.ezabble-pos-5::after,
.ezabble-pos-6::after {
  left: calc(100% - 8px);
  border-top-width: 2px;
  border-right-width: 2px;
}

/** Position 4 */
.ezabble-pos-4 {
  top: 0;
}

.ezabble-pos-4::before,
.ezabble-pos-4::after {
  top: 16px;
  transform: rotate(45deg);
}

/** Position 5 */
.ezabble-pos-5 {
  top: 50%;
  transform: translateY(-50%);
}

.ezabble-pos-5::before,
.ezabble-pos-5::after {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

/** Position 6 */
.ezabble-pos-6 {
  bottom: 0;
}

.ezabble-pos-6::before,
.ezabble-pos-6::after {
  bottom: 16px;
  transform: rotate(45deg);
}

/** Position 7, Position 8, Position 9 */
.ezabble-pos-7,
.ezabble-pos-8,
.ezabble-pos-9 {
  bottom: calc(100% + 16px);
}

.ezabble-pos-7::before,
.ezabble-pos-8::before,
.ezabble-pos-9::before,
.ezabble-pos-7::after,
.ezabble-pos-8::after,
.ezabble-pos-9::after {
  top: calc(100% - 8px);
  border-bottom-width: 2px;
  border-right-width: 2px;
}

/** Position 7 */
.ezabble-pos-7 {
  right: 0;
}

.ezabble-pos-7::before,
.ezabble-pos-7::after {
  right: 16px;
  transform: rotate(45deg);
}

/** Position 8 */
.ezabble-pos-8 {
  left: 50%;
  transform: translateX(-50%);
}

.ezabble-pos-8::before,
.ezabble-pos-8::after {
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}

/** Position 9 */
.ezabble-pos-9 {
  left: 0;
}

.ezabble-pos-9::before,
.ezabble-pos-9::after {
  left: 16px;
  transform: rotate(45deg);
}

/** Position 10, Position 11, Position 12 */
.ezabble-pos-10,
.ezabble-pos-11,
.ezabble-pos-12 {
  left: calc(100% + 16px);
}

.ezabble-pos-10::before,
.ezabble-pos-11::before,
.ezabble-pos-12::before,
.ezabble-pos-10::after,
.ezabble-pos-11::after,
.ezabble-pos-12::after {
  right: calc(100% - 8px);
  border-bottom-width: 2px;
  border-left-width: 2px;
}

/** Position 10 */
.ezabble-pos-10 {
  bottom: 0;
}

.ezabble-pos-10::before,
.ezabble-pos-10::after {
  bottom: 16px;
  transform: rotate(45deg);
}

/** Position 11 */
.ezabble-pos-11 {
  top: 50%;
  transform: translateY(-50%);
}

.ezabble-pos-11::before,
.ezabble-pos-11::after {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

/** Position 12 */
.ezabble-pos-12 {
  top: 0;
}

.ezabble-pos-12::before,
.ezabble-pos-12::after {
  top: 16px;
  transform: rotate(45deg);
}


/** Static Width */
.ezabble-width-sm {
  width: 128px;
}

.ezabble-width-md {
  width: 192px;
}

.ezabble-width-lg {
  width: 256px;
}

/** Static Max Height */
.ezabble-max-height-sm > .ezabble-container {
  max-height: 128px;
  overflow-y: scroll;
}

.ezabble-max-height-md > .ezabble-container {
  max-height: 192px;
  overflow-y: scroll;
}

.ezabble-max-height-lg > .ezabble-container {
  max-height: 256px;
  overflow-y: scroll;
}